<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanfandou.admin.server.operation.dao.NoticeMapper">

    <resultMap type="com.fanfandou.admin.api.operation.entity.Notice" id="noticeMapper">
        <id property="id" column="id"/>
        <result property="gameIds" column="game_ids"/>
        <result property="siteIds" column="site_ids"/>
        <result property="areaIds" column="area_ids"/>
        <result property="noticeTitle" column="notice_title"/>
        <result property="noticeContent" column="notice_content"/>
        <result property="noticeType" column="notice_type"
                typeHandler="com.fanfandou.common.handler.EnumStatusHandler"/>
        <result property="noticeState" column="notice_state"/>
        <result property="createTime" column="create_time"/>
        <result property="beginTime" column="begin_time"/>
        <result property="endTime" column="end_time"/>
        <result property="publishCount" column="publish_count"/>
        <result property="publishSpace" column="publish_space"/>
        <result property="publisher" column="publisher"/>
    </resultMap>

    <select id="selectAll" resultMap="noticeMapper">
		<![CDATA[



                select * from game_notice



        ]]>
	</select>

    <delete id="delete" parameterType="int">
		<![CDATA[



		    delete from game_notice where id = #{id}



        ]]>
	</delete>

    <select id="selectById" resultMap="noticeMapper" parameterType="int">
		<![CDATA[



		   select * from game_notice where id = #{id}



        ]]>
	</select>

    <select id="selByArea" resultMap="noticeMapper" parameterType="java.util.Map">


        select * from game_notice
        where game_ids = #{gameIds}
        <if test="areaIds != null">and area_ids LIKE #{areaIds}</if>
        and site_ids LIKE #{siteIds}
        and notice_type = #{noticeType}
        and notice_state = 1
        order by create_time desc
        limit 0,1


    </select>

    <select id="pageList" resultMap="noticeMapper" parameterType="java.util.Map">
        select * from game_notice
        where notice_title LIKE #{noticeTitle,jdbcType=VARCHAR}

        <if test="gameIds != null ">
            and game_ids = #{gameIds,jdbcType=VARCHAR}
        </if>
        <if test="siteIds != null">
            and site_ids LIKE #{siteIds,jdbcType=VARCHAR}
        </if>
        and create_time BETWEEN #{from,jdbcType=TIMESTAMP} and #{to,jdbcType=TIMESTAMP}
        order by id desc
        limit #{num1,jdbcType=INTEGER},#{num2,jdbcType=INTEGER}

    </select>

    <select id="totalCount" resultType="int" parameterType="java.util.Map">


        select count(*) from game_notice
        WHERE notice_title LIKE #{noticeTitle,jdbcType=VARCHAR}
        <if test="gameIds != null">
            and game_ids = #{gameIds,jdbcType=VARCHAR}
        </if>
        <if test="siteIds != null">
            and site_ids LIKE #{siteIds,jdbcType=VARCHAR}
        </if>
        and create_time BETWEEN #{from,jdbcType=TIMESTAMP} and #{to,jdbcType=TIMESTAMP}

    </select>

    <insert id="insert" parameterType="com.fanfandou.admin.api.operation.entity.Notice" useGeneratedKeys="true"
            keyProperty="id">
	    <![CDATA[



	     INSERT INTO game_notice (game_ids,site_ids,area_ids,notice_title,notice_content,notice_type,
	     notice_state,create_time,begin_time,end_time,publish_count,publish_space,publisher)
	     VALUES (
		#{gameIds},
		#{siteIds},
		#{areaIds},
		#{noticeTitle},
		#{noticeContent},
        #{noticeType,jdbcType=INTEGER,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
		#{noticeState},
		#{createTime,jdbcType=TIMESTAMP},
		#{beginTime,jdbcType=TIMESTAMP},
		#{endTime,jdbcType=TIMESTAMP},
		#{publishCount},
		#{publishSpace},
		#{publisher}
	)



        ]]>
	</insert>

    <update id="update" parameterType="com.fanfandou.admin.api.operation.entity.Notice">

         <![CDATA[



        UPDATE game_notice SET
            game_ids = #{gameIds},
            site_ids = #{siteIds},
            area_ids = #{areaIds},
            notice_title = #{noticeTitle},
            notice_content = #{noticeContent},
            notice_type = #{noticeType,jdbcType=INTEGER,typeHandler=com.fanfandou.common.handler.EnumStatusHandler},
            notice_state = #{noticeState},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            begin_time = #{beginTime,jdbcType=TIMESTAMP},
            end_time = #{endTime,jdbcType=TIMESTAMP},
            publish_count = #{publishCount},
            publish_space = #{publishSpace},
            publisher = #{publisher}
        WHERE
            id = #{id,jdbcType=INTEGER}



        ]]>
	</update>

</mapper>